<div class="contact">
  <h2>Connect</h2>
  <ul>
    <li>
      <span class="li-icon">{% include svg/mail.svg %}</span
      ><a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a>
    </li>
    <li>
      <span class="li-icon">{% include svg/github.svg %}</span
      ><a href="https://github.com/{{ site.social.github }}">GitHub</a>
    </li>
    <li>
      <span class="li-icon">{% include svg/linkedin.svg %}</span
      ><a href="https://linkedin.com/in/{{ site.social.linkedin }}">LinkedIn</a>
    </li>
    <li>
      <span class="li-icon">{% include svg/google-circled.svg %}</span
      ><a href="{{ site.social.gscholar }}">Research Publications</a>
    </li>
    <li>
      <span class="li-icon">{% include svg/internet.svg %}</span
      ><a href="{{ site.social.substack }}">Substack</a>
    </li>
  </ul>
</div>
