<div class="contact">
  <h2>Address</h2>
  <ul>
    <li>Las Cruces</li>
    <li>330 Fite Drive, New Mexico, USA</li>
    <li>
      <span class="li-icon">{% include svg/phone.svg %}</span
      ><span>+1 720 645 4677</span>
    </li>
    <li>
      <span class="li-icon">{% include svg/mail.svg %}</span
      ><a href="mailto:reznov9185@gmail.com">reznov9185@gmail.com</a>
    </li>
    <li>
      <span class="li-icon">{% include svg/internet.svg %}</span
      ><a href="reznov9185.github.io">reznov9185.github.io</a>
    </li>
  </ul>
</div>
