<div id="particles-js" class="fullscreen">
  <div class="jumbotron text-center">
    {% if site.photo %}
    <img class="particles-photo" src="{{ site.photo }}" />
    {% endif %}
    <h1 class="particles-title">{{ site.title }}</h1>
    <h1 class="particles-subtitle">{{ site.taglong }}</h1>
    <div class="nowrap">
      <!-- {% if site.social.github %}
      <a class="particles-icon" target="_blank" href="https://github.com/{{ site.social.github }}">{% include svg/github.svg %}</a>
      {% endif %}
      {% if site.social.linkedin %}
      <a class="particles-icon" target="_blank" href="https://www.linkedin.com/in/{{ site.social.linkedin }}">{% include svg/linkedin.svg %}</a>
      {% endif %}
      {% if site.social.googlescholar %}
      <a class="particles-icon" target="_blank" href="{{ site.social.googlescholar }}">{% include svg/google-circled.svg %}</a>
      {% endif %}
      {% if site.social.substack %}
      <a class="particles-icon" target="_blank" href="https://{{ site.social.substack }}">{% include svg/internet.svg %}</a>
      {% endif %} -->
      {% if site.social.instagram %}      
      <a class="particles-icon" target="_blank" href="https://www.instagram.com/{{ site.social.instagram }}">{% include svg/instagram.svg %}</a>
      {% endif %}
    </div>
  </div>
  <div class="particles-scroll">
    <a class="particles-icon" href="#scroll">{% include svg/nav-arrow-down.svg %}</a>
  </div>
</div>
